[2017-04-19 22:10] khassel opened #1 "image for raspberry missing in docker store"
Hi,
there are only 2 versions in docker store, latest and alpine. raspberry is missing.
Thanks,
Karsten.

[2017-04-19 22:31] khassel opened #2 "black magicmirror-screen running latest-image under Windows10"
Hi,
getting a black screen running your latest-image under Windows10. This issue is already described here: https://forum.magicmirror.builders/topic/2333/docker-setup-is-not-working
Building your image locally with "RUN npm install --unsafe-perm" is working.
Thanks,
Karsten.

[2017-04-20 19:45] khassel commented on #1
O.K., found this a moment ago:
"The raspberry image is currently failing on Docker Hub. I'm on it."
(from https://github.com/MichMich/MagicMirror/pull/856 )

[2017-04-20 20:17] bastilimbach commented on #2
Sorry for my late response. That's interesting. I'll test this and update the Dockerfiles. I've never heard of `--unsafe-perm`.

[2017-04-20 21:12] #2 closed

[2017-04-20 21:49] khassel commented on #1
Looked into this, something with syntax of "docker-entrypoint.sh" seems to be wrong. Thats strange, this works with other images.
Substituted for testing purpuses
ENTRYPOINT ["/opt/magic_mirror/docker-entrypoint.sh"]
with
ENTRYPOINT ["node", "serveronly"]
and this works.

[2017-04-20 21:54] khassel commented on #1
Yesterday I pushed this to docker: https://store.docker.com/community/images/karsten13/mm_hyp
See Dockerfile below. This works.

FROM hypriot/rpi-node:latest

ENV NODE_ENV production
ENV MM_PORT 8080

RUN apt-get update
RUN apt-get upgrade

# needed later in run command:
RUN apt-get -y install dos2unix

# not needed:
#RUN apt-get -y install curl wget git build-essential unzip

# only for having na

[2017-04-20 22:01] bastilimbach commented on #1
Yeah, it's pretty strange. That's the reason I couldn't get it to work. I don't know where exactly the error is. I'll try the base image `hypriot/rpi-node:latest` which you used. Will look into this tomorrow.

[2017-05-28 19:06] bastilimbach commented on #1
Fixed with the workaround of using travis instead of docker hub to build the arm version. See [travis file](https://github.com/bastilimbach/docker-MagicMirror/blob/master/.travis.yml)

[2017-09-09 18:52] acejacek opened #6 "This device is not allowed to access your mirror, again"
Spoiler alert: I have `ipWhitelist: []` in `config.js`.

I have strange problem with access to MagicMirror run from Docker container. After few restarts it welcomes me with well know:

_This device is not allowed to access your mirror.
Please check your config.js or config.js.sample to change this._

I'm using your run command, which maps correctly `--volume ~/magic_mirror/config:/opt/magic_mirror

[2017-09-09 18:57] bastilimbach commented on #6
Could you post your `config.js` file?

[2017-09-09 19:10] acejacek commented on #6
I dug into log files. `docker logs magic_mirror` shows:
[code]
I modified my `ipWhitelist: []` to `ipWhitelist: ["0.0.0.0/0"]` and now all works OK. Bit strange, because `config.js.sample` says: "Set [] to allow all IP addresses".

 Sorry for false alarm, issue closed.

[2017-09-09 19:10] #6 closed

[2017-09-09 19:28] bastilimbach commented on #6
That's strange. Possibly an issue with magic mirror. `0.0.0.0/0` should be included if you set `ipWhitelist: []`. Glad you could solve it 👍

[2017-11-19 22:19] rossdargan opened #7 "How do you update the build?"
I've installed the docker image, but I'm warned straight away that the build is out of date. Do I need to run git pull from within the container to update it?

[2017-11-19 22:31] bastilimbach commented on #7
Could you paste the error message? If the install steps didn't change from Magic Mirror, then there shouldn't be a problem.

[2017-11-20 09:37] rossdargan commented on #7
This is the message I get on the front end:

MagicMirror² update available.
The current installation is 1767 commits behind on the master branch

[2017-12-11 13:51] bastilimbach commented on #7
Hi @rossdargan, I finally found the time to look into this. I wasn't aware of the [update-notification functionality](https://github.com/MichMich/MagicMirror/tree/master/modules/default/updatenotification) of Magic Mirror. They have a default module which checks every 10 minutes if a new version is available and displays this message. You can disable this by removing the module from your config fi

[2018-02-26 00:02] JasperZ commented on #7
Is it possible to get an updated version of the docker container on dockerhub?

[2018-02-27 07:30] bastilimbach commented on #7
@JasperZ I try to push a newer version at the weekend. This version should then be updated every night.

[2018-03-04 12:29] bastilimbach commented on #7
I created a cron job in travis ci, which builds and pushes a new docker image every day 👍 Now you should always get the newest MagicMirror version. Thanks again guys for reporting this issue!

[2018-03-04 12:29] #7 closed

[2018-04-01 18:16] pixeye33 commented on #7
Hai there,

seems its not fixed : https://hub.docker.com/r/bastilimbach/docker-magicmirror/builds/
(no new builds every day)

you could also put a git pull command in your docker-entrypoint.sh file so that every time you launch it you have the last version :)

[2018-04-03 17:15] bastilimbach commented on #7
@pixeye33 These are the builds executed by Docker Hub. In the current setup, Docker Hub doesn't build anything. That's completely Travis job now. To see how up to date the current version is you need to look at `Last pushed: X days ago`, which should always be 1 day. I noticed the latest CRON jobs are failing because of commit [fb7e97b](https://github.com/MichMich/MagicMirror/commit/9974e35656d419

[2018-04-03 17:50] bastilimbach commented on #7
I created a PR to fix this issue: [#1250](https://github.com/MichMich/MagicMirror/pull/1250)

[2018-04-21 21:20] samabsalom opened #8 "Modules help"
Hello,
love the docker image ! how do we install extra commands (such as ping for MMM-NetworkScanner ) and allow it be maintained through updates?

Thanks!
Sam

[2018-04-21 21:48] bastilimbach commented on #8
Hi @samabsalom,
thank you. I hope it helps. The best option for you is to fork this repo and add the needed dependencies to these lines:
https://github.com/bastilimbach/docker-MagicMirror/blob/f244dfd8459db9f4d285b896b4022b9a4cc20f0c/Dockerfile#L14-L17

If you want to have `ping` installed for `MMM-NetworkScanner` it would look something like this:
[code]
*(Notice the addition of `iputils-ping`)*

[2018-04-22 15:50] samabsalom commented on #8
Thanks for your help! Not sure of popular ones but i'll flick through and see what are used. Ill fork the repo now and maybe submit a PR with the additions
Sam

[2018-04-22 16:01] #8 closed

[2018-04-30 19:06] cslamar opened #9 "Missing yarn-or-npm"
When building from the master of MagicMirror, the dependency for `yarn-or-npm` is miss from the main dependencies in `package.json`, and the build fails looking for the `yon` command.  You can get around this by installing `yarn-or-npm` as a step before doing the `npm install --unsafe-perm --silent`.

This doesn't effect if you change the branch of MagicMirror to develop, as it seems to no longer

[2018-04-30 19:17] bastilimbach commented on #9
@cslamar this is a known issue of MagicMirror. I already pushed a fix to the main repo ([#1250](https://github.com/MichMich/MagicMirror/pull/1250)). It should work again when the `develop` branch gets merged into `master`. I think this should be the case at the end of this month.

[2018-04-30 19:18] bastilimbach commented on #9
Another workaround is to remove this line:
https://github.com/bastilimbach/docker-MagicMirror/blob/f244dfd8459db9f4d285b896b4022b9a4cc20f0c/Dockerfile#L3

[2018-05-14 12:40] bastilimbach commented on #9
As it seems that the merge [will still take some time](https://github.com/MichMich/MagicMirror/blob/develop/CHANGELOG.md#240---unreleased-current-develop-branch) I included a temporary workaround to fix the build: [997e2f0](https://github.com/bastilimbach/docker-MagicMirror/commit/24fa51314f20120e3d2549b3fcf35c3b65195e1a)

[2018-07-13 15:55] dersch81 opened #10 "How can i change compliments?"
Hi, i've switching from standalone pi to a docker mirror. It is running now, but i had a custom compliments file. I included that to my custom folder of modules as i did that with the standalone MM. But how will this affect any updating? In the past i had to change the compliments.js to the original version to update my mirror via git.

[2018-07-13 17:59] bastilimbach commented on #10
If I'm correct you can include the compliments either in the `config.js` file or in a external file. If you include the compliments directly into the `config.js` or the external file is in the `config` or `modules` folder, they won't get overridden on an update. **It's important, that you [add these as volumes](https://github.com/bastilimbach/docker-MagicMirror#volumes)!**

[2018-07-13 18:32] dersch81 commented on #10
Ok thanks a lot. Would this be the same dir changes in a CSS file for the Mirror? As suggested by the rtspstream Module maintainer i need a CSS change:

~/MagicMirror/css/custom.css file.

[code]

[2018-07-13 19:16] bastilimbach commented on #10
Oh ok, that's something I didn't consider. It was new to me, that you could write your own custom css in `css/custom.css`. Theoretically, it should work if you mount the `css/custom.css` file using volumes:

[code]

I'll take a look at this and update the README if it works as expected.

[2018-07-14 08:42] bastilimbach commented on #10
@dersch81 I updated the README to reflect this use case (1e14e332ebbf17504863036d1e7521700046d70c). I tested it yesterday and it worked as expected. 👍It's important, that you create your `custom.css` file before you mount/run the container. I hope this helps you. If you have any further questions, please feel free to reopen this issue.

[2018-07-14 08:42] #10 closed

[2018-07-14 09:03] dersch81 commented on #10
Thanks a lot! I'm actually playing around with it.

- I need to add the main.css as well to the volume, right? I couldn't get the mirror working correctly without this.
- If I change the custom.css file i need to stop/start the container or do I need to create it again? (docker stop/rm/run)

My change of the custom.css doesn't change anything acutally.
[code]

[2018-07-14 09:17] bastilimbach commented on #10
If you mount the `/css` folder you need to copy the `main.css` and `custom.css` file manually into it, correct. If you just mount the `custom.css` file instead of the whole folder, you don't need to do anything with the `main.css` file.

Your css changes aren't working, because they are not correct. In normal CSS you can not nest rules. This only works in [SASS](https://sass-lang.com/) for example

[2018-07-14 09:24] dersch81 commented on #10
Ok now i got it! Thanks a lot :)

[2018-07-23 11:03] xbmcnut opened #11 "Port 80 in use"
Hi there. Trying to install this on a Synology NAS and get the following error.
`
Error response from daemon: driver failed programming external connecti ity on endpoint magic_mirror (1f15ec0475348aa25175fa1c12f19e5306a2e6df810d37719574cc6fab0ae2bf): Error starting userland proxy: listen tcp 0.0.0.0:80: bind: address already in use.`

Very difficult to shift port 80 on the NAS. Is there a workarou

[2018-07-23 11:15] bastilimbach commented on #9
Fixed with 0d92ce00bbf014606ebf784bdf77a52c5124ef62

[2018-07-23 11:15] #9 closed

[2018-07-23 11:17] bastilimbach commented on #11
Did you try changing `--publish 80:8080` to some other port, like: `--publish 3000:8080`?

[2018-07-23 11:22] xbmcnut commented on #11
Thanks for the fast response. I did this `--publish 9080:9080 \` and changed the .js file to this:

[code]

[2018-07-23 11:22] xbmcnut commented on #11
I use 8080 on my NAS for my UniFi controller.

[2018-07-23 11:29] xbmcnut commented on #11
Changed it to this now and restarted, still no access.

![image](https://user-images.githubusercontent.com/1492137/43074096-2f865e02-8ed0-11e8-81e2-e1272da97651.png)

[2018-07-23 11:36] bastilimbach commented on #11
I did test this myself and it worked on my end. Could you please compare your config files with mine?
[code]

[code]

Could you try to adjust you config file and then remove the container with `docker rm magic_mirror` and run it again with the above command? Maybe somethings isn't working with `docker restart`.

[2018-07-23 11:37] bastilimbach commented on #11
Btw could you check, that port 9080 isn't used: `netstat -an | grep 9080`

[2018-07-23 11:41] bastilimbach commented on #11
Also please double check that you added the desired port to your Synology Firewall.

[2018-07-23 11:43] xbmcnut commented on #11
Ah, didn't do the firewall as haven't needed to for any other container (MQTT, Home Assistant, UniFi). I tried your exact config and although there are no errors in the Docker log file, I can't access http://nasip:9080

[2018-07-23 11:43] xbmcnut commented on #11
`tcp6       0      0 :::9080                 :::*                    LISTEN`

[2018-07-23 11:44] xbmcnut commented on #11
NAS firewall is off

[2018-07-23 11:46] xbmcnut commented on #11
I stopped the container, removed it, modded the .js file with your code below then start a new container with port 9080 and still have no access.

[2018-07-23 11:49] xbmcnut commented on #11
With the Docker container removed, netstat reports no activity on 9080.

[2018-07-23 11:50] xbmcnut commented on #11
Midnight here in NZ so I'll pick this up tomorrow night. Thanks for your help. Very much appreciated, 👍

[2018-07-23 11:51] bastilimbach commented on #11
So the `Error response from daemon [...] address already in use` is gone right? I think I know where the issue comes from. Some users reported, that the `ipWhitelist: []` option inside the config.js file doesn't allow all IPs. This is a bug with Magic Mirror. Could you please try adding this:
[code]
This forum post might be interesting: [ipWhitelist HowTo](https://forum.magicmirror.builders/topic/

[2018-07-23 11:56] xbmcnut commented on #11
Buggar. Was very hopeful that would work but sadly no.

[code]

[2018-07-23 11:59] xbmcnut commented on #11
This is the Synology Docker log which is odd as it's reporting the port as 8080.

[code]

[2018-07-23 12:00] bastilimbach commented on #11
Oh wait! Look:
[code]

Your config is invalid. Could you post your whole config?

[2018-07-23 12:03] xbmcnut commented on #11
Just working on that now as just noticed that error too.

[2018-07-23 12:07] xbmcnut commented on #11
My apologies Sebastian, seems it was a syntax error. I did not notice that this code below was already at the bottom the of config file:

[code]

I now get this which is a step in the right direction.

This device is not allowed to access your mirror.
Please check your config.js or config.js.sample to change this.

Thank you!!

[2018-07-23 12:08] xbmcnut commented on #11
Changed `ipWhitelist: [], // Set [] to allow all IP addresses` and bam!

![image](https://user-images.githubusercontent.com/1492137/43075735-bf27e1fc-8ed5-11e8-8baf-3d7b9678f1c1.png)

[2018-07-23 12:12] xbmcnut commented on #11
Thank you again for all your help. I think I'll pop up a blog post on that. Nite nite

[2018-07-23 12:14] bastilimbach commented on #11
Nice!
If you publish a blog post about this, let me know! Would love to read it, as I'm also considering buying a Synology NAS.

 **Good night, sexy!** 😂

[2018-07-25 01:21] xbmcnut commented on #11
😂 Nice. Unfortunately, I'm having to delay the blog post/YouTube video as I can't quite get the docker version of MM to play nicely with [MMM-homeassistant-sensors](https://github.com/leinich/MMM-homeassistant-sensors) or [MMM-xiaomi](https://github.com/mirko3000/MMM-xiaomi). I had a similar issue with my Docker version of Hass.io when I installed the Node-Red add-on and the Xiaomi Node as the nod

[2018-07-26 13:07] bastilimbach commented on #11
Are the services you try to connect with also running in Docker containers? If so you need to make sure, that you create a shared network which the desired containers use. [https://docs.docker.com/network/bridge/#manage-a-user-defined-bridge](https://docs.docker.com/network/bridge/#manage-a-user-defined-bridge)

[2018-08-07 11:47] xbmcnut commented on #11
Thanks and apologies for the delay. I've built a Pi version and will try to get HA working in that first. I have the current container in bridge mode already.

[2018-08-07 14:23] Jan-2005 opened #12 "MagicMirror: v2.3.1 pls update zu v2.4"
I have just installed Magic mirror per docker. The config is not recognized. I can not install any other modules.

Can you help me.
have heard of the latest version should be fixed. Greeting Jan

[2018-08-07 14:52] bastilimbach commented on #12
The image gets updated every day by a cron job from Travis CI. It should already be the latest MagicMirror version. What exactly is your problem? Could you post some logs/error messages?

[2018-08-07 18:18] Jan-2005 commented on #12
[code]

[2018-08-07 18:19] Jan-2005 commented on #12
[code]

[2018-08-07 18:20] Jan-2005 commented on #12
With docker-compose.yml

[code]

config not Found

[2018-08-07 18:22] Jan-2005 commented on #12
Config Folder :

`/home/intelnuc/fhem-docker/magic_mirror/config/config.js`

Jan-2005@web.de

[2018-08-09 07:54] bastilimbach commented on #12
@Jan-2005 sorry for the late response. I just double checked with a fresh install of this docker image. Are you sure, that you did use the newest version?

I started the Docker container with the command provided in the README:
[code]

I checked the logs using `docker logs magic_mirror` which stated that magic mirror started using the newest version: "_Starting MagicMirror: **v2.4.1**_"

I also go

[2018-08-27 07:05] bastilimbach commented on #12
I'm closing this issue, due to the lack of any response. I assume you fixed the problem. Feel free to reopen the issue.

[2018-08-27 07:05] #12 closed

[2018-10-06 22:47] topjor opened #13 "Module directory checking and updating"
After seeing a update message, I thought about updating my container and checked your repo first to see if it handled updating the default modules.
Looking at this script, you are checking if `/opt/magic_mirror/modules` is a **regular** file, not a directory
https://github.com/bastilimbach/docker-MagicMirror/blob/0d92ce00bbf014606ebf784bdf77a52c5124ef62/docker-entrypoint.sh#L3
This means every tim

[2018-10-11 19:08] bastilimbach commented on #13
Thanks for reporting the issue. I'll take a look at this next week 👍

[2018-10-12 20:06] MrNonoss opened #14 "MagicMirror update"
Hi @bastilimbach
Thanks for your great docker image.

Could you please update it to the latest version?

Thank you a lot

[2018-10-13 22:13] bastilimbach commented on #14
The image gets updated automatically every day by Travis CI. The last build succeeded successfully and did get pushed to Docker Hub. Did you try removing and redownloading the image? What version are you getting?

[2018-10-13 22:15] bastilimbach commented on #14
Please check out my [comment on a previous issue](https://github.com/bastilimbach/docker-MagicMirror/issues/12#issuecomment-411670631) and see if this fixes you issue. Maybe there is really a problem which I just can't reproduce.

[2018-10-14 20:04] BenRoe commented on #8
@samabsalom you can also go into the docker container and install ping via apt-get
[code]

[2018-10-15 11:02] MrNonoss commented on #14
Thanks for your reply,

I wasn't aware of the automatic update. I just checked the date of the last build (7 months) and assumed it wasn't updated.

In fact, thetrouble came from my side. For an unknown reason, some modules like weather and calendar were stuck. a reboot of the docker image and the raspberry did the trick.

Sorry for the burden.

[2018-10-15 14:19] bastilimbach commented on #14
Perfect! The last build time is very confusing indeed. Unfortunately, I can't change that. You need to look at the "Last pushed" date 👍

[2018-10-15 14:19] #14 closed

[2018-11-04 22:52] dersch81 opened #15 "Time of dates are wrong"
Hi, i have a quiet strange problem. All dates of the calendar are one hr in the future now in winter time. In the summer time it was 2 hrs.

I thought the time setting of the docker container is wrong. So i've started it now with `-v /etc/localtime:/etc/localtime:ro` to have the same time as the host.

checking with `docker exec -it [ID] date` confirms it.

But still the same problem. With a "norm

[2018-11-10 10:02] bastilimbach commented on #15
That’s strange. Are you using the default calendar? I’look into this. Thanks for reporting!

[2018-11-10 20:50] dersch81 commented on #15
yes i'm using  the standard calendar.

[2018-11-19 01:51] Genemills opened #16 "Container just restarts"
Error log:

/opt/docker-entrypoint.sh: line 11: docker: command not found

[2018-11-19 02:44] #16 closed

[2018-11-25 06:52] jhofker commented on #15
For what it's worth, I added the following to the Dockerfile locally:
[code]

Rebuilt the image:
```docker build -t mm_tz .```

And then ran it:
[code]

I'm sure not everyone will want to use one specific timezone, but this fixed the date issue I was having where the Calendar module was 6 hours off. Those commands are probably scriptable after the fact, too.

[2018-12-05 10:35] sylvaingirardbe commented on #15
Afaik, if you want to set a timezone for a container you can pass the correct one on using the environment:
TZ: 'Europe/Brussels'
SET_CONTAINER_TIMEZONE: 'true'
CONTAINER_TIMEZONE: 'Europe/Brussels'

No need to rebuild.

[2018-12-18 19:38] mneundorfer commented on #15
@sylvaingirardbe I can confirm that, just tested it

[2018-12-18 19:53] dersch81 commented on #15
@mneundorfer how can i do this? i'm not a docker pro :(

[2018-12-18 20:02] mneundorfer commented on #15
Piece of cake: Just pass them via the `docker run` command, i.e. add

[code]

I haven't actually checked yet whether actually all three of them are required.

If anyone using Compose stubles accross this in the future:

[code]

[2018-12-18 20:08] mneundorfer commented on #15
Btw: If you want to check if it worked:

[code]

If this does not return the date you expect, i.e. the date of your host, you are likely to run into "wrong calendar time" issues

[2018-12-18 20:14] dersch81 commented on #15
thanks but that is showing the correc date Tue Dec 18 21:13:28 CET 2018

[2018-12-18 20:30] bastilimbach commented on #15
Sorry guys, I hadn't much time to look into this issue but it's awesome to see your engagement with this! 👍
I myself did some researching and it looks like there are two different tweaks you need to make, to get this running.

To sync the system timezone you need to create a link between your host machines `/etc/localtime` file and the containers `/etc/localtime` file. This is accomplished by moun

[2018-12-18 21:23] bastilimbach commented on #15
Ok, I did test these things and nothing worked. I just looked, if the timezone is set by MagicMirror and indeed it is. You can manually set the timezone in the `config.js` file. As soon as I did that, everything worked.
[code]

@dersch81 Could you test if this works for you?

[2018-12-18 21:26] bastilimbach commented on #15
The right one is a running MagicMirror instance without the timezone setting set to any specific timezone:
![image](https://user-images.githubusercontent.com/5406078/50183888-bbb56500-0313-11e9-9553-60f41272c45d.png)

[2018-12-29 14:24] dersch81 commented on #15
Hi, sorry i just could test it now. Unfortunatley it did not fix my issue with the calendar. The clock was always ok.

[code]

How can be the clock ok but the timezone of the calendar different? For your information i'm using the calendar with webcal from my private Nextcloud, one calendar is fetched from Office365. But with a "normal" MMM there is no problem with it. I have totally no idea how to

[2019-02-24 13:29] Sisikon opened #17 "ERRO[0472] error waiting for container: context canceled"
Hi

I just run the docker run -d \ commands.
It started to pull from bastilimbach/docker-magicmirror (all are completed).
After that it startet with "Status: Downloaded newer image for bastilimbach/docker-magicmirror:latest and prompt with the error message:
ERRO[0472] error waiting for container: context canceled

Any idea ?

[2019-04-03 23:56] bachoo786 opened #19 "Docker mm update"
Hi

I have just installed mm using your docker image which is supposed to be the latest one as I checked in the docker hub that your files were updated 2 days ago.

However I get a message regarding updating my mm. I thought I had the latest one released 2 days ago i.e. 2.7.1. Can you please help ? I have already deleted the image on portainer and pulled the latest one but still no joy.

Also how

[2019-04-06 13:00] bachoo786 opened #20 "cannot access magicmirror as a client on raspberry pi from terminal"
hi so everything is working fine and I can access magicmirror if I go to the web browser of my raspberry pi hit the address of the server running magic mirror.

However when I try to run it from terminal with this command i.e. `pi@raspberrypi:~ $  node clientonly --address 192.168.0.27 --port 82`   I get the following error:

[code]

can you please help @bastilimbach ?

thanks.

[2019-04-06 14:06] bastilimbach commented on #17
This is a strange error. I think it has to do with you docker installation. Could you please provide the output of `docker info` and some system information?

[2019-04-06 14:09] bastilimbach commented on #19
Hi, I just checked the Travis CI builds and it fails because it couldn't find Electron v3.0.13 for linux-armv6l:
[code]

Therefore Travis CI didn't push a new version to the Docker Hub. I'll check what the corse for this is.

[2019-04-06 14:16] bastilimbach commented on #20
Correct me, if I'm wrong: You started a Docker container with the image `docker-MagicMirror` on your server, which you can access via the Browser, right?

Now you try to start the client side on a separate computer, in your case a Raspberry Pi, correct?
To do that you need clone the MagicMirror project on the client computer and execute `node clientside` inside the cloned folder. This error simply

[2019-04-06 14:36] bachoo786 commented on #20
thats correct.

I have already got mm running on my raspberry and I have just stopped it using pm2 stop mm. So I tried to run clientmode in the MagicMirror directory and I get this.

[code]

Also can you tell me one thing, is it ok if I just run the client mode from raspberry pi's web browser? so just got to 192.168.0.60:82 on my raspberry pi browser and run from there? will it cause any issues? I

[2019-04-06 14:54] bastilimbach commented on #20
Running inside a normal browser window is totally fine. You just need to refresh the page if you make changes to the config or add modules.

[2019-04-06 14:55] bastilimbach commented on #20
`cannot open display` is a pretty generic error. This is unrelated to docker-MagicMirror or MagicMirror. Try searching for the `(electron:17868): Gtk-WARNING **: cannot open display:` error in Google.

[2019-04-06 14:55] #20 closed

[2019-04-06 14:59] bachoo786 commented on #20
ok thanks

how do I restart magic mirror if I am running in docker? when running in docker it doesnt come with pm2?

[2019-04-06 15:15] bastilimbach commented on #20
`docker restart <container_name>`

[2019-04-06 15:16] bachoo786 commented on #20
thanks

[2019-04-07 16:29] bachoo786 opened #23 "News module not updating"
Hi @bastilimbach

Everything works fine. What I noticed that the news module does not update with the latest news unless I was to refresh the browser.

Is that a bug or?

[2019-05-03 17:42] trombonekenny commented on #19
Any progress on this? Thanks.

[2019-05-05 19:17] Tezzlicious commented on #19
Hope this will be fixed soon. Thanks for all efforts.

[2019-05-30 14:21] ax42 commented on #15
My in-container date was on UTC-5 for some reason, using the `-e` switch fixed it.

[2019-05-30 14:22] ax42 commented on #19
I am getting this on the non-armhf build as well.

[2019-05-30 18:34] dersch81 commented on #15
Did you had a correct Clock but incorrect times of your calendar appointments?

[2019-06-02 18:23] ax42 commented on #15
I've just noticed my calendar entries are also (still) off.  I have an additional complication though - I have MMM running in a docker container on a server, and connecting to that (port 8080) has correct times. I have a client-only non-docker MMM Running on a pi (connected to the same server), and the times there are wrong.  Any ideas?

[2019-06-10 15:01] Jan-2005 commented on #12
Starting MagicMirror: v2.6.0

Loading config ...

WARNING! Could not find config file. Please create one. Starting with default configuration.

ading module helpers ...

Initializing new module helper ...

Module helper loaded: updatenotification

No helper found for module: helloworld.

l module helpers loaded.

Starting server on port 8080 ...

Server started ...

Connecting socket for: updateno

[2019-06-22 19:36] tc60045 commented on #12
2.6.0 appears to be the latest in the "latest build" for this repo, making it 2508 commits behind.

I suspect there is something preventing Travis from compiling your build properly -- an issue you had before in one of the other tickets.  Please try installing a new container and you'll see this problem persists with latest build here != latest build.

`latest: Pulling from bastilimbach/docker-mag

[2019-06-22 19:43] tc60045 commented on #7
I wonder if you don't have another stuck commit preventing the auto-build:
- This repo is reporting 2.6 as "latest" on fresh docker install (by docker veteran)
- MM then reports "2508 commits behind"

`latest: Pulling from bastilimbach/docker-magicmirror
Digest: sha256:90fcd76cd419bc3a2202294c6af5924b05812df8568e7dc15460a8e4e446aefa
Status: Image is up to date for bastilimbach/docker-magicmirror:l

[2019-06-28 14:51] ax42 commented on #15
I needed to set the clock with `-e` on both client and server for everything to work.

[2019-06-28 14:52] ax42 commented on #19
Any update?

[2019-07-16 19:22] Disane87 opened #24 "Container always restarts"
Installed it by the command

	--publish 8080:8080 \
	--restart always \
	--volume ~/magic_mirror/config:/opt/magic_mirror/config \
	--volume ~/magic_mirror/modules:/opt/magic_mirror/modules \
	--name magic_mirror \
	bastilimbach/docker-magicmirror

Modified the port 80 to 8080 because I've already have some listens on 80.
Actually it is restarting every time with the following message in `docker l

[2019-07-18 22:00] idoodler commented on #19
Any update on this?

[2019-07-18 22:12] khassel commented on #19
as long as this is not solved here you can use [my setup](https://gitlab.com/khassel/magicmirror).

[2019-07-19 19:20] idoodler commented on #19
@khassel Thx, but the container is restarting every 5 to 10 seconds. I'll stick to this right now.

[2019-07-29 07:21] idoodler commented on #23
@bachoo786 Hey, may you provide logs from your browser. I am using this project in a project of mine and everything work regarding the News module.

Also this project is basically a wrapper around the awesome MagicMirror project. You may find help in the [official forum](https://forum.magicmirror.builders).

[2019-07-30 02:43] henry74 commented on #24
Need to pull the pi image as follows:

Note: It looks like this image is way behind the github repo so not sure you should use it other than testing

[2019-07-30 15:39] Disane87 commented on #24
Yeah, thank you! Just saw that too, that I use a false image. The age of this is not really problematic, cause I can update mm. Thank you!

[2019-07-30 15:39] #24 closed

[2019-08-07 10:10] bastilimbach commented on #23
@idoodler Thanks for your help!

@bachoo786 Logs & your config would be really helpful. Maybe something is wrong with your configuration. Maybe @idoodler can provide their working config.

[2019-08-07 10:12] bastilimbach commented on #19
Sorry for the late response. I’ll take another look at this.

[2019-08-07 10:12] bastilimbach commented on #17
Closing this due to no response. Please feel free to reopen the issue.

[2019-08-07 10:12] #17 closed

[2019-08-07 10:14] bastilimbach commented on #15
I guess the -e flag solves this issue. Therefore I’m closing this issue. If it still persist please reopen it.

[2019-08-07 10:14] #15 closed

[2019-08-07 11:42] idoodler commented on #23
Sure, @bachoo786 I guess you mean the default `newsfeed` module.

Checkout my module config:

[code]

[2019-08-17 07:39] idoodler commented on #23
@bachoo786 Ping

[2019-08-17 23:18] #13 closed

[2019-08-17 23:18] #19 closed

[2019-08-17 23:33] bastilimbach commented on #23
@bachoo786 If you are still having problems with the configuration please feel free to reopen the issue.

[2019-08-17 23:33] #23 closed

[2019-08-17 23:37] bastilimbach commented on #19
@trombonekenny @Tezzlicious @ax42 @khassel @idoodler I provided a fix for the issue in PR #25. The image was successfully updated. Could someone please verify, that everything works as expected?

[2019-08-19 20:49] idoodler commented on #19
@bastilimbach This is not working on my side.

I changed `FROM bastilimbach/docker-magicmirror:raspberry` to  `FROM bastilimbach/docker-magicmirror:latest` and I am getting the error `no matching manifest for linux/arm64 in the manifest list entries`

[2019-08-19 20:54] bastilimbach commented on #19
@idoodler Ah probably because I only added `arm` and not `arm64`. Will add that to the travis build

[2019-08-19 20:58] bastilimbach commented on #19
@idoodler See commit fad5dea42c636fe3139501255c5ebe07d93a540c

Could you please try again after Travis pushed the image?

[2019-08-19 21:08] bastilimbach commented on #19
This is the output of manifest inspect. Looks good:
[code]

[2019-08-19 21:18] idoodler commented on #19
@bastilimbach I am not using plain docker, but [balena-cloud](https://dashboard.balena-cloud.com/apps). It looks like your image is working again. But I do have issues execute `RUN chmod +x /opt/moduleInstall.sh` the following `Dockerfile`.

**Issue:**
`panic: standard_init_linux.go:175: exec user process caused "exec format error" [recovered]`

[code]

[2019-08-19 21:21] idoodler commented on #19
@bastilimbach I am running on a Raspberry Pi 3 B+ (I won't response the next few hours because I have to sleep now)

[2019-08-26 22:00] khassel commented on #19
couldn't test earlier, now running on a raspi3 doesn't work for me, getting the `standard_init_linux.go:211: exec user process caused "exec format error"` error so it seems this image is not build for arm
[code]
anyone with the same problem?

[2019-08-26 22:09] khassel commented on #19
Looking into the [travis-file](https://github.com/bastilimbach/docker-MagicMirror/blob/78066f94147b5e355f03dd1d819784e764492e45/.travis.yml#L17): Afaik you are building 3 times the same image for the architecture the travis job is running on, probably amd64.

[2019-08-31 21:09] bastilimbach commented on #19
Mh, thats strange. I thought with the following line I would configure qemu and therefore compile in arm. Used to do that also with the old raspberry pi image. Maybe I need to add a `--arch` to the docker build command:
[code]

I will open a new issue.

[2019-08-31 21:10] bastilimbach opened #26 "arm & arm 64 build doesn't work"
See comment https://github.com/bastilimbach/docker-MagicMirror/issues/19#issuecomment-525050143 by @khassel

[2019-08-31 21:18] khassel commented on #26
I think you can't use `FROM node:12-stretch` in your Dockerfile for different architectures. With this line, it will pull the x86_64 image because the travis-runner has this architecture. So you have to use different images for every architecture, e.g. `arm32v7/node:12-stretch` for arm (with qemu).

[2019-10-14 18:55] magpern opened #27 "Wrong time zone on calendar events"
I have the docker running on a ubuntu server. All time zones and time is correct.
The RPi showing the magic mirror from the docker host is also set with correct time zone.
The clock in magic mirror is correct, but calendar events are off by a few hours. Event is set as 07:45 CEST but shows as 09:45

I solved this by supplying the docker with a TZ=Europe/Stockholm environment variable. Perhaps the

[2019-10-14 19:20] bastilimbach commented on #27
Issue #15 is probably related to this one.
It might actually not be a bad idea to include a small section in the README. Do you maybe want to create a PR for this?

[2019-10-14 19:21] bastilimbach commented on #27
A "Frequently asked questions" section with "My timezone is wrong, how can I fix this?" would be quite useful. This could also be expanded in the future.

[2019-11-04 03:51] JPMinAR opened #29 "not pulling in node_helper"
So took me a little bit to determine what was happening but since I have a 'modules' directory mapped to my docker instance it does not include the /modules/node_modules/node_helper/index.js dependency that multiple applications assume to be present.

Can the fact that this needs to be included in the mapped modules instance or could this be conditionally copied over as part of the 'else' conditio

[2019-11-16 09:50] #27 closed

[2019-11-16 09:51] bastilimbach commented on #27
Thanks again for the PR! 🎉

[2019-12-05 03:57] jtuckr commented on #26
Was researching this as I'm also having the same issue (docker on raspberry pi 3) and came across a thread that mentioned it could be showing this error due to the windows style line (CRLF) endings on the entrypoint script. Any chance that's causing the issue here?

See https://nickjanetakis.com/blog/fixing-exec-format-errors-with-docker-entrypoint-scripts-on-windows

[2019-12-05 09:05] bastilimbach commented on #26
Mhh, maybe. We previously had some steps in the Dockerfile to transform the line endings but I removed it as I thought this was not necessary anymore. I’ll create a separate branch and test it. @jtuckr would you be able to test it as soon as I push a new version? I currently do not have a raspberry pi at hand.

[2019-12-05 20:24] jtuckr commented on #26
Yes definitely.

[2019-12-05 22:20] khassel commented on #26
no:

[code]
`docker-entrypoint.sh` is not involved here ...

[2019-12-24 17:27] sdetweil commented on #29
that node module is included in the default git clone install as part of the base.

I have submitted an update to the master MagicMirror repo to load this node_helper.js class module differently, so it will be present as part of npm install
I hope that it will be accepted in version 2.10

[2019-12-30 23:22] KamilLenica commented on #26
any news on this issue? I can test it right away on my RPi4

[2020-01-03 18:08] mkilinskidev commented on #26
I've rebuilt the Dockerfile and it works! I've used `FROM arm32v7/node:12-stretch` and build image using `docker build -t "arm-mmirror" .`

[2020-01-04 05:59] jtuckr commented on #26
That appears to have worked for me as well, but now having issues actually pulling up magic mirror where it is listening.

To summarize, here's what I did that got me this far:
1. git cloned the repo `git clone https://github.com/bastilimbach/docker-MagicMirror.git`
2. cd into the directory `cd docker-MagicMirror`
3. modified the Dockerfile using a text editor so the top line said `FROM arm32v7/no

[2020-01-04 08:36] theiam79 commented on #26
I'm having the same issue, commenting here to check later for any solutions

[2020-01-04 08:42] mkilinskidev commented on #26
According to `localhost refused to conection` I think there is an error in documentation. Use `address: "0.0.0.0"` in your config.js file. Did you changed in Docerfile `EXPOSE` line? If you are modyfing a docker port, I think you should change this line too. Here is my complete Dockerfile:
[code]
And then config.js file:
[code]

[2020-01-04 09:03] khassel commented on #26
The port outside on the host ist 80, so you have to navigate to http://localhost:80

[2020-01-04 11:44] theiam79 commented on #26
FWIW, I'm using Unraid as my host and it didn't work until I set both the host and container port to the same port number and configured that port in the config.js

[2020-01-04 18:37] jtuckr commented on #26
@c0degeekPL I tried changing the config.js as you suggested but no luck. I think I'll need to try changing the EXPOSE line you suggested also and rebuild the image and container.

I tested accessing localhost:80 as well as localhost:8080 and 8181 and all had the same response. Will do some more tweaking and give it another shot later. Thanks all!

[2020-01-04 21:12] simonsolberg opened #30 ""2832 Commits behind the master branch""
Hi,

I keep getting this complaint that I'm many commits behind the master branch:

![image](https://user-images.githubusercontent.com/31542525/71771640-d23e5680-2f3e-11ea-9aea-28ab19bf2e48.png)

But on Docker hub the images update regularly, latest was today, and I'm sure I'm running the latest image.
![image](https://user-images.githubusercontent.com/31542525/71771650-00239b00-2f3f-11ea-8729-6d2

[2020-01-04 21:28] khassel commented on #30
see https://github.com/MichMich/MagicMirror/issues/1855

[2020-01-06 14:25] bastilimbach commented on #30
Thanks @khassel for pointing to the issue. Seems like we can't do much here. Therefore I will close this issue. Please keep an eye out on the referenced issue @simonsolberg .

[2020-01-06 14:25] #30 closed

[2020-01-10 12:34] chris-kwl opened #31 "The latest versions no longer working (MM inside Docker is fine)"
Hi,
I can't get the container working in the latest versions, using Docker Desktop 2.1.0.5 (latest version) win64 (no other version tested).

When I try to access it, I get the following:

- Firefox: Fehler: Verbindung unterbrochen / The connection was reset
- Chrome: ERR_EMPTY_RESPONSE

without Container/portsharing the errors are:

- Firefox: Fehler: Verbindung fehlgeschlagen / connection failed

[2020-01-10 17:08] bastilimbach commented on #31
Hi 👋
Can you please provide you config?

[2020-01-10 18:54] chris-kwl commented on #31
Hi,
thanks for replying :)

Which config do you mean exactly? The MM config?

For testing I have removed almost everything:
<details><summary>config.js</summary>

[code]
</details>

<details><summary>custom.css</summary>

[code]
</details>

<details><summary>Log</summary>

[code]
</details>

[2020-01-11 10:21] xbgmsharp commented on #31
You need specify `address: "0.0.0.0",` to force to listen on all interfaces.
https://github.com/xbgmsharp/docker-MagicMirror/commit/1fe37ada760db6bc391d492259c8cd65bae0f73d

[2020-01-11 12:44] chris-kwl commented on #31
That's it, thank you! So MM after all...
Quite strange, because it worked like this in the past and according to the documentary both should have the same function?
But what the heck, thanks.

[2020-01-11 12:44] #31 closed

[2020-01-12 01:54] bastilimbach commented on #31
Maybe a bug was introduced. Might need to adapt the readme. Thanks @xbgmsharp!

[2020-01-12 09:32] chris-kwl commented on #31
Just tested it on a raspberry (not the docker version) and there is the same behavior.
In the new published [Documentation](https://docs.magicmirror.builders/getting-started/configuration.html#general) on the website not github only `address: "0.0.0.0"` is left.

I think more important than the readme is the mm-docker-config.js, because at the moment the container does not work by default.

Took t

[2020-01-12 17:56] bastilimbach commented on #31
Thanks @chris-kwl for the PR. This is what open source is all about 🎉

Merged it!

[2020-01-13 04:46] jtuckr commented on #26
@c0degeekPL the EXPOSE line change worked! I used the port you gave in your dockerfile and config.js file just to try something unique to my configuration. That, with ` docker run -d \ --publish 8889:8889 ` in my docker run command fixed my issues.

Thanks everyone for all your help!

[2020-02-03 14:45] bastilimbach commented on #26
@KamilLenica Could you test the latest build? See #33

[2020-02-03 14:52] KamilLenica commented on #26
Not right now, I am away on bussiness trip without access to my Raspberry.

Will do as soon as possible, but no sooner than 18th of February

[2020-02-08 18:10] bastilimbach commented on #26
I tested it on my raspberry pi. Works as expected 👍 Again thanks @khassel!

[2020-02-08 18:10] #26 closed

[2020-02-17 16:50] KamilLenica commented on #26
Running fne on Rpi 4
`Linux raspberrypi 4.19.75-v7l+ #1270 SMP Tue Sep 24 18:51:41 BST 2019 armv7l GNU/Linux`

[2020-02-26 20:12] Legion2 opened #36 "Docker tags for the images"
Can you please tag major versions of the image, so we can better control when we pull a new version of the image with breaking changes.

[2020-03-08 14:00] idoodler commented on #36
I second that, I do issues running the latest image on m Raspberry Pi in combination with Balena Cloud. Somehow the latest image is not compatible anymore. I am assuming there is an issue with the architecture.

This is the error:
`standard_init_linux.go:207: exec user process caused "exec format error"`

[2020-03-08 14:05] Legion2 commented on #36
@idoodler this error may because of bad line-ending in the docker entrypoint or the entrypoint does not have the executable permission set.
How do you run this docker image?

[2020-03-08 14:37] idoodler commented on #36
@Legion2 The docker image is run on a Raspberry Pi 3 via the balena cloud infrastructure.

Dockerfile:
[code]

I use `LF` in my project.

[2020-03-08 14:43] Legion2 commented on #36
all `.sh` scripts must have linux line endings (LF) when they are copied into the docker image.

[2020-03-08 14:44] idoodler commented on #36
Sorry, I missinterpreted my IDE. I use `LF`

[2020-03-08 14:49] Legion2 commented on #36
do you get the error when you build or run the image?

[2020-03-08 14:49] idoodler commented on #36
When I run the image

[2020-03-08 14:55] Legion2 commented on #36
did you try to use an older version if this image to test that it still works?

[2020-03-08 15:00] idoodler commented on #36
When I use the older raspberry tag I get the following error when building the image:

`manifest for bastilimbach/docker-magicmirror:raspberry not found`

[2020-03-08 15:05] Legion2 commented on #36
If you know the id hash of the image you can use it to get the older version

[2020-03-08 15:08] idoodler commented on #36
I don't known the hash of the older version:/ And as far as I know its not possible to get the hash if a newer version has been published.

[2020-03-08 15:13] Legion2 commented on #36
you can get the version from the travis build logs

[2020-03-08 15:38] idoodler commented on #36
I found the hash, but it looks like this only works if the image doesn't use tags.

`bastilimbach/docker-magicmirror@sha256:125f81ff1a348b8295f381c64b7c50cc709cc5cb63812019962245db5597727b`

The hash can be found [here](https://travis-ci.org/bastilimbach/docker-MagicMirror/builds/509498081)

[2020-03-10 16:20] khassel commented on #36
@idoodler which image is throwing the execption, your own image build upon mm or the original mm image? What happens if you run the original mm image on your pi without the balena environment by directly executing the docker run command provided in the README?

@Legion2 back to the original post. You may can take a look at [my setup](https://hub.docker.com/r/karsten13/magicmirror/tags). Is this wh

[2020-03-10 16:26] Legion2 commented on #36
@khassel yes how did you define the tags?

[2020-03-10 20:30] idoodler commented on #36
@khassel The issue occurs on the mm image

[2020-03-11 16:23] khassel commented on #36
I'm using `docker buildx build` (same as in this repo) and execute this for every tag, you can see the build script [here](https://gitlab.com/khassel/magicmirror/-/blob/master/.gitlab-ci.yml). The second run is very quick because everything is cached.

@idoodler can you post the output of `docker inspect bastilimbach/docker-magicmirror:latest`

[2020-03-14 09:29] idoodler commented on #36
@khassel Here is the output. As I am running it on a Balena device (Raspberry Pi 4 running Balena OS I executed `balena inspect {CONTAINER_ID}` to obtain the output

<details><summary>Inspect output</summary>
<p>

[code]

</p>
</details>

[2020-03-14 10:41] idoodler commented on #36
I am just trying to pull the image directly on the targeted device

[2020-03-14 13:10] idoodler commented on #36
When pulling the image on the targeted device the image runs fine. I guess there is a discrepancy between the image being build on the device and on the Balena build system. I'll forward this issue to Balena.

[2020-03-14 14:41] idoodler commented on #36
I just fixed the issue by modifying the `Dockerfile`'s first line:

`FROM --platform=linux/arm bastilimbach/docker-magicmirror:latest`

I guess its an issue with Balenas backend.

[2020-04-02 08:05] Legion2 commented on #36
A [new version](https://github.com/MichMich/MagicMirror/releases/tag/v2.11.0) of MagicMirror was released with potentially breaking changes. Please add version tags to this image, so we can decide which version we use.

[2020-04-02 08:42] bastilimbach commented on #36
I will take a look at this after work today. We really need to have the version tags! It shouldn't take too long. For a quick workaround you can fork this repo and adapt the following line to checkout the previous version:
https://github.com/bastilimbach/docker-MagicMirror/blob/fdaec060203adb49dc14ae6b7949b7ee3eaddf1f/Dockerfile#L6

[2020-04-02 16:57] bastilimbach commented on #36
I created PR #37 to address this issue. @Legion2 could you take a look at the PR description and quickly comment if this is sufficient and resolves this issue?

[2020-04-02 21:06] #36 closed

[2020-04-02 21:18] bastilimbach commented on #36
@Legion2 It works 👍 We now have tags: https://hub.docker.com/r/bastilimbach/docker-magicmirror/tags

[2020-04-02 21:20] bastilimbach commented on #29
@sdetweil Is this solved?

[2020-04-02 21:54] sdetweil commented on #29
Yes. It is located in the js folder now, with an alias in package.json.

So u need both changes

[2020-05-29 19:59] klaernie opened #39 "Kubernetes example wanted?"
Hi there,

as my homelab nowadays has Kubernetes running, I migrated my magic mirror setup into it.

First of all: @bastilimbach thanks for packaging the docker image! Works nicely!

Would there be interest in the configuration I used to get my two mirrors hosted in server-only mode in Kubernetes?

A rough overview:
- a configmap for per-mirror configs (containing `config.js` and both `custom.css`

[2020-05-29 20:16] khassel commented on #39
I'm interested. Did a first hack a year ago but without a good solution for the modules ...

As this repo is restricted to `serveronly` I did a docker setup too which supports also the second use case (running the mm on the screen of the pi). I don't want to entice users away from here, this is the official mm-docker-repo, but I solved you're first point (override default modules) [there](https://

[2020-05-29 20:42] bastilimbach commented on #39
Sure! Documentation/Samples are always welcome. However I wouldn’t add such information into the readme as this is really detailed and setup specific. Maybe we create a GitHub Wiki page for this. We could also add more docker compose samples there etc.

What’s your opinion?

[2020-05-30 07:57] klaernie commented on #39
My first instinct would be to put it into a `docs/k8s/` folder inside the repo itself. That is much easier to open PRs if anything needs changing and can have its own `README.md` describing the relations and considerations.

[2020-05-30 17:59] klaernie commented on #39
so, at least for `main.css` I found the right way to do it: `subPath` mounting my config volume.

[2020-06-01 11:56] bastilimbach commented on #39
@klaernie I just checked how GitHub Wikis are working under the hood. I thought this would be just some files in a folder like GitHub Pages. But no. It's persisted in a separate git repo which makes it super hard to contribute -.-

Therefore I would agree with you. Let's create a `docs` folder with a summary in the top-level `README.md`. Then in every folder, we can have specific readme files 👍

[2020-06-03 22:21] khassel commented on #39
meanwhile I investigated several hours in this and wrote a helm chart for MagicMirror. You can find the first version [here](https://gitlab.com/khassel/magicmirror-helm).

This setup uses normal `config.js` and `custom.css` files in subfolders. Modules have to be specified as list in the `values.yaml`, they are cloned (incl. `npm install`) at start.

[2020-06-24 16:13] bastilimbach commented on #39
@klaernie any updates? Are you still interested in creating a PR for the documentation? Otherwise I’ll close the issue.

No problem if you currently do not find the time. Just wanted to check if there is still the desire to create a PR in the future😊

[2020-06-29 23:06] skandragon commented on #39
I would like to see your setup before I go and make mine :)

I have a small Raspberry Pi 4 cluster in my basement, and would like to give it a job.

[2020-06-30 06:26] klaernie commented on #39
Yes, still planning on writing it up. Just work stuff got in the way. Sorry to leave you hanging.

[2020-07-02 21:42] henriquearake1 opened #41 "Error trying to run it in server only mode"
###
Hello, I'm trying to run MagicMirror² in server only mode using the following command line
`docker run -d publish 80:8080 restart always volume ~/magic_mirror/config:/opt/magic_mirror/config volume ~/magic_mirror/modules:/opt/magic_mirror/modules volume /etc/localtime:/etc/localtime:ro name magic_mirror  bastilimbach/docker-magicmirror`
but it isn't working. This is the error message: "Unable

[2020-07-02 22:02] henriquearake1 commented on #41
Newbie error, guys. I forgot to type "--"

[2020-07-02 22:02] #41 closed

[2020-07-05 13:07] bastilimbach commented on #39
Absolutely no problem 😊 I’ll leave this issue open as long as you want 👍

[2020-07-05 13:10] bastilimbach commented on #41
Thanks for coming back and closing the issue! You‘re surely not the first one to forget the double dashes 😂

[2020-07-05 13:22] bastilimbach opened #43 "Use GitHub actions instead of Travis"
See https://github.com/bastilimbach/docker-MagicMirror/pull/25#issuecomment-652661315

[2020-07-05 13:25] bastilimbach opened #44 "Use a smaller base image"

[2020-07-05 21:30] Legion2 commented on #43
@bastilimbach What is this line for?
https://github.com/bastilimbach/docker-MagicMirror/blob/0d51263ff08cd27cede01bef161b8f02d741e293/build.sh#L6

[2020-07-05 21:32] bastilimbach commented on #43
@Legion2 it checks if there is already an image with that particular tag/version on docker hub. This is to prevent overriding existing tags.

[2020-07-05 21:34] Legion2 commented on #43
But there should be no problem if we override a tag with a newer build of the same tag. It uses the same code base but maybe newer base images and dependencies.

[2020-07-07 15:01] sthuber90 opened #47 "Support old browsers"
I am running MagicMirror on a raspberry pi in server only mode and use an old iPad that does not receive any updates anymore as a digital picture frame. As it is still a small computer I want to not only show images, but show calendar, weather, and some other information as well. MagicMirror seemed like the perfect solution. Unfortunately, it became clear that MagicMirror does not support nor want

[2020-07-14 20:55] DrSoops commented on #39
I too am curious as to how you are treating different modules.
Say you have some heavy weight module like facial recognition, did you find a way to have that run as a stand alone pod (with opencv and other dependencies) or does everything still have to be run on a single pod that has all these dependencies packaged into the image.

[2020-08-15 11:26] Legion2 opened #48 "Is this project still actively maintained?"
@bastilimbach For over a month there are two pull request waiting for your feedback as maintainer of this project. So I'm asking if you still consider maintaining this project? Or if the community should focus on a fork or other docker images for Magic mirror such as the one of @khassel https://hub.docker.com/r/karsten13/magicmirror/? I don't want to bother you, I just want to know the current sta

[2020-09-18 10:42] winstonma opened #49 "`docker-entrypoint.sh` didn't copy the config file"
In `docker-entrypoint.sh` there is line that put the config file

[code]

But when my image is built `config.js` didn't appear.

[2020-10-01 16:21] Legion2 commented on #49
`docker-entrypoint.sh` is executed when the container is started not when the image is built.

[2020-10-02 03:25] winstonma commented on #49
@Legion2 maybe I am wrong

But the problem here is, the script end up didn't copy the `mm-docker-config.js` to `/opt/magic_mirror/config` because the checking condition always return false (because the config folder exist in MagicMirror [repository](https://github.com/MichMich/MagicMirror/tree/master/config)). Should the statement check this existance of `config/config.js` instead?

[2020-10-02 06:13] Legion2 commented on #49
I think it checks if there are files in the config directory by using `ls`

[2020-10-02 14:04] winstonma commented on #49
Exactly! But MagicMirror [repository](https://github.com/MichMich/MagicMirror/tree/master/config) already created the folder, therefore this checking will always return false (because `ls -A /opt/magic_mirror/config` returns true because when you clone MagicMirror, the `config` folder would be created)

[2020-10-02 14:46] Legion2 commented on #49
`ls -A /opt/magic_mirror/config` returns an empty string (prints nothing to stdout) because the directory is empty, it does not return a boolean, there are no boolean types in sh/bash. `[ ! "" ]` returns the exit code `0` which means a true value and the conditional expression is executed.

[2020-10-02 21:31] winstonma commented on #49
Yes

May I highlight several things

- MagicMirror [repository](https://github.com/MichMich/MagicMirror/tree/master/config) by default have a file `config.js.sample` sits inside the `config` folder (started 4 months ago). Therefore the statement would not return empty string and eventually it would not execute the `cp` command.
- MagicMirror would not start if `config.js` doesn't exist. I would su

[2020-10-02 22:02] Legion2 commented on #49
Ok I didn't know that. This breaks the check you can open a pr and propose a different method to check. But I don't know if it will be merged soon (see #48).

[2020-10-02 22:14] khassel commented on #49
yes, but if you start the container with

[code]

this will map `~/magic_mirror/config:/opt/magic_mirror/config` and everything inside the container in `/opt/magic_mirror/config` is replaced with the files from the host directory. If you start with an emtpy host dir, the directory inside the container is also empty (`config.js.sample` is removed in this case) and the copy is executed.

But if you

[2020-10-02 22:16] winstonma commented on #49
Also in [docker-entrypoint.sh](https://github.com/bastilimbach/docker-MagicMirror/blob/master/docker-entrypoint.sh) have other two checks, I am not sure if it would be better if it check the existence of the file rather than the emptiness of the folder.

[2020-10-02 22:23] khassel commented on #49
No.

The first check copies the default-modules if the mapped directory from the host is empty, that's o.k.
The last check use a `config.js.template` to create a `config.js` (only if `config.js.template` exists), so here is already checked on a file.

[2020-10-02 22:29] winstonma commented on #49
@khassel Yeah you are right 🤔 I didn't start docker in that way. I just copied the dockerfile into my environment start the docker.

But I still wonder why the script `docker-entrypoint.sh` is needed if it map the file in the docker argument?

[2020-10-02 22:33] khassel commented on #49
The `docker run ...` statement maps volumes from the host into the container. After this mapping `docker-entrypoint.sh` is executed and this script tries to correct some special cases.

- It makes no sense to start without default-modules (if host-dir empty)
- It makes no sense to start without config.js (if not exists in host-dir)

[2020-10-02 22:46] winstonma commented on #49
Thanks

However the checking is still invalid because the config folder exist in the original repository (it is for the special case)

[2020-11-25 02:50] squirtbrnr opened #50 "Timezone correct, modules won't follow it"
I am running this docker on a Synology NAS.  I got it up and running with no issue.  I set the timezone variable and also linked `/etc/localtime`.  When I check the date/time of the container it is correct and matches the host system.  The clock module is also correct with the correct time (with or without the time zone config line for the module).  However, other modules such as a sports scoreboa

[2020-11-29 13:00] klaernie commented on #39
@DrSoops actually everything in my setup runs in a single pod (per instance). The PR is now up, so you can take a look how I did it. Also in my use case the device running the display for the mirror and the kubernetes cluster are not the same - my entire approach is based on taking the cpu load from my display devices (a Beaglebone Black and a RaspberryPi) and moving it onto a beefy x86 server.

S

[2020-11-30 00:43] #39 closed

[2020-11-30 20:26] DrSoops commented on #39
Single pod with one beefy server as a backbone. That makes sense and works, I was just hoping to be able to somehow self contain the cluster with spreading the load on extra Pis/Jetsons.

[2021-01-04 17:30] ckboyle commented on #50
I'm seeing something similar in my calendar module - only it differs by calendar and sometimes even by event within a calendar.

I switched to the "develop" branch as someone on the MagicMirror repo mentioned a similar issue was fixed in the develop branch.  That develop branch as a standalone install works correctly, but when I use the container I have the mishmash of timezones in my calendars.

[2021-01-04 18:12] Legion2 commented on #50
try to start the container and open a shell (sh, bash) and then use the `date` command to check if the date is set correctly.
[code]

[2021-01-04 18:33] ckboyle commented on #50
Yes - running date from a bash prompt inside the container returns the correct date.

[2021-01-04 18:38] squirtbrnr commented on #50
the date command returns the correct time date.

timezone environment variable is set and the localtime folder is mapped to the container.

I just noticed v2.14.0 was released 3 days ago. I’m running v2.13.0, so I’ll have to test this again later.

[2021-01-04 18:46] Legion2 commented on #50
when the date and time is correctly set in the container, it must be a problem of MagicMirror not using it correctly.

[2021-01-08 02:58] slimcdk commented on #17
`context canceled` is a message produced by the default go context library when a deadline is exceeded (usually meaning a timeout)

[2021-02-19 00:34] berlincount opened #54 "Spectacularily fails on Raspberry Pi Zero"
Hello,

and thanks for this awesome image!

Sadly, node explodes on Raspberry Pi Zero with the arm/v7 image, with `node` dying a `SIGILL` death - because only a `v6l` is employed :-/

Maybe make an additional image available, or even use a v6l node instead of v7?

Cheers!

[2021-02-19 08:44] Legion2 commented on #54
we can add the additional architecture to the image build.

[2021-02-22 20:21] berlincount commented on #54
nah, the node.js doesn't support that, so I'm closing this without solution, too tall order imho

[2021-02-22 20:21] #54 closed

[2021-02-22 20:22] berlincount commented on #54
(Invalid Instruction due to different CPU instruction set)

[2021-02-28 07:33] sthuber90 commented on #48
I believe it's safe to assume this project is no longer maintained.

[2021-02-28 16:11] Legion2 commented on #48
Ok, then we need a new project which maintains the "official" docker image for MagicMirror. I think it's best to start as a fork of this project. I can be a maintainer, @sthuber90 and @khassel would you also like to be maintainers?

[2021-02-28 22:37] khassel commented on #48
This may should be discussed as issue in the mm project.

[2021-02-28 22:45] Legion2 commented on #48
I looked at the mm project repo and there is no real reference to the docker image, only in the changelog there is a link to this project. So I think they are not really interested in this.

[2021-02-28 22:47] khassel commented on #48
see https://docs.magicmirror.builders/getting-started/installation.html#alternative-installation-methods

[2021-03-01 09:26] Legion2 commented on #48
OK then we should move this discussion

[2021-03-01 15:25] Legion2 commented on #48
Should we open an issue or create a forum post?

[2021-03-01 16:04] sthuber90 commented on #48
Maybe the forum is the best option as it is not directly related to the MM repo?

[2021-03-01 17:06] Legion2 commented on #48
I think the issues on the repo are only for bug reports

[2021-03-01 19:14] khassel commented on #48
not only real issues, we had already some general discussions there and I think it is the best place to discuss this with the main contributors and MichMich (only some of them are active in the forum). If its not the right place, they will tell us ...

[2021-03-01 20:36] Legion2 commented on #48
I created an issue https://github.com/MichMich/MagicMirror/issues/2471

[2021-04-10 13:06] Luc3as opened #55 "MM 2.15 in docker could not start"
## I found a bug in MagicMirror

Please make sure to only submit reproducible issues. You can safely remove everything above the dividing line.
When submitting a new issue, please supply the following information:

**Platform**: Raspberry Pi 4, MagicMirror OS).

**Node Version**: v12.22.1

**MagicMirror Version**: 2.15

**Description**: So I was using Magic Mirror OS on raspi 4 for long time, it w

[2021-04-10 13:26] Legion2 commented on #55
@Luc3as you are using the docker image from @khassel which is not maintained here but at https://gitlab.com/khassel/magicmirror. The docker images from this project currently do not support 2.15 because the CI build is broken.

[2021-04-10 13:30] Luc3as commented on #55
oh, I see, thanks

[2021-04-10 13:30] #55 closed

[2021-06-06 19:34] simphide opened #56 "Error: Cannot find module 'valid-url'"
Hi,

with the newest docker image I get the error message that the module valid-url is missing. When I remove all URLs fromt the config.js (calenders and newsfeeds) everything works fine.

Also the previous docker image version works fine.

Does anybody have a solution?

Thank you!
[code]

[2021-06-06 19:43] simphide commented on #56
You have to update the default modules

[2021-06-06 19:43] #56 closed

[2021-06-18 14:35] sejka commented on #56
Having same issue, downloaded newest default modules (from master branch) and uploaded them to the pi but still no luck. Are there any npm install shenanigans that I need to do afterwards? Rolled back to default config but still no luck. Thanks!

[2021-06-29 02:33] sejka commented on #56
@simphide have you done anything more than that? afair default modules don't have any dependencies so i'm clueless. Thanks

[2021-07-01 14:02] simphide commented on #56
You have to update the default modules since they are mapped to the host system and not automatically updated

[2022-01-07 13:22] sarus3749 opened #57 "newsfeed module not found"
Hello.
First of all, thank you for your work ! It's really usefull :)

I've an issue since v2.15 (no issue with v2.14.0)
With the same config file, the latest version tells me that :

[07.01.2022 14:09.50.380] [LOG]   Starting MagicMirror: v2.15.0
[07.01.2022 14:09.50.386] [LOG]   Loading config ...
[07.01.2022 14:09.50.392] [LOG]   Loading module helpers ...
[07.01.2022 14:09.50.394] [LOG]   No h